<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spell Chant</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- js -->
    <script src="node_modules/vue/dist/vue.js" type="text/javascript"> </script>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Spell Chant</h1>
        <p>Test your spell skill, how expert you are.</p>
      </header>
      <section class="main">
        <div class="spell-area">
          <div class="spell-area__medium">
            <medium :emoji="spell.medium" :effect="spell.effect"></medium>
          </div>
          <div class="spell-area__alert">
            <div :class="[ 'alert', spell_alert ]">{{ alert_message }}</div>
          </div>
          <div class="spell-area__form">
            <form class="form">
              <label for="">Type your spell bellow</label>
              <input type="text" class="form__control" v-model="spell.chant">
              <input @click="chant()" type="button" class="form__submit" value="chant!">
            </form>
          </div>
        </div>
      </section>
      <footer>@copyright addincw 2018</footer>
      <special-spell v-if="is_special_spell" :is_special_spell="is_special_spell" :spell="special_spell" v-on:purify="is_special_spell = false" v-on:picked="successChant($event[0], $event[1]); is_special_spell = false"></special-spell>
    </div>
    <script src="index.js" type="text/javascript"> </script>
  </body>
</html>
