:root{
  --main-bg: rgb(237, 237, 237);
  --alert-danger: rgb(255, 0, 57);
  --alert-success: rgb(0, 168, 66);
  --main-font-color: rgb(57, 57, 57);
  --second-font-color: rgb(181, 181, 181);
}
body{
  padding: 0px;
  margin: 0px;
  background: var(--main-bg);
  font-family: segoe UI;
}
header h1{
  margin: 0px;
  padding-top: 5%;
}
header h1, header p{ text-align: center; }
.main{
  display: flex;
  justify-content: center;
}
.spell-area{
  max-width: 300px;
  overflow: hidden;
}
.spell-area__medium{
  position: relative;
  border-bottom: 1px solid var(--main-font-color);
  margin: 160px 0px 50px;
}
.medium{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -22px;
  left: 35%;
  -webkit-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
}
.spell-area__alert{ margin: 0px 0px 15px; }
.alert{
  opacity: 0;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}
.alert--danger, .btn--danger{ background: var(--alert-danger); }
.alert--success, .btn--success{ background: var(--alert-success); }
.form{}
.form label{
  font-size: 12px;
  color: var(--second-font-color);
}
.form__control,
.form__submit{
  margin: 5px 0px;
  padding: 5px 15px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50px;
}
button:focus, input:focus{ outline: none; }
.form__control{ border: 1px solid var(--second-font-color); }
.form__submit{
  background: var(--main-font-color);
  color: var(--second-font-color);
  border: none;
}
.form__submit:hover,
.form__submit:focus{
  cursor: pointer;
  background: rgb(78, 78, 78);
}
footer{
  padding: 30px 0px 5px;
  color: var(--second-font-color);
  text-align: center;
  font-size: 14px;
}
.special-spell{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(57, 57, 57, 0.76);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
}
.box{
  position: relative;
  width: 300px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}
.box__header{}
.box__btn-close:hover{
  cursor: pointer;
  background: rgb(221, 221, 221);
}
.box__btn-close{
  position: absolute;
  top: 8px;
  right: 8px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: var(--main-font-color);
  background: none;
  border: none;
  border-radius: 4px;
}
.box__body h2, .box__body p{ margin: 0px; }
.box__body{
  padding: 35px 12px;
  text-align: center;
}
.object-group{
  padding: 30px 0px 20px;
  display: inline-block;
}
.object-group__item{
  position: relative;
  border: 1px solid var(--second-font-color);
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin: 0px 3px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
.object-group__item input{
  position: absolute;
  opacity: 0;
}
.object-group__item img{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 9px;
  margin-left: 9px;
}
.object-group__item--selected,
.object-group__item:hover{
  cursor: pointer;
  border: 1px solid var(--main-font-color);
  box-shadow: 3px 3px 10px rgb(180, 180, 180);
}
.box__footer{}
.btn:disabled{ cursor: not-allowed; }
.btn--success:hover:enabled{
  cursor: pointer;
  background: rgb(7, 177, 74);
}
.btn--danger:hover:enabled{
  cursor: pointer;
  background: rgb(164, 6, 41);
}
.btn{
  box-sizing: border-box;
  padding: 10px 0px;
  border: none;
}
.btn--block{ width: 100%; }
.show{
  opacity: 1;
  z-index: 1;
}
.animation{}
.animation--up{ bottom: 40px; }
.animation--floating{ animation: floating 1s infinite 0.33s alternate; }
.animation--popping{ animation: popping 0.2s linear; }
.animation--comeIn{ animation: comeIn 0.8s ease-out; }
.animation--fadeOut{ opacity: 0; }
@keyframes floating {
  0% { bottom: 40px; }
 33% { bottom: 47px; }
 67% { bottom: 37px; }
100% { bottom: 40px; }
}
@keyframes popping {
  0% { transform: scale(0.5); }
 33% { transform: scale(1.08); }
100% { transform: scale(1); }
}
@keyframes comeIn {
  0% { transform: rotate(20deg); left: 108% }
 63% { transform: rotate(-20deg); left: 30% }
100% { transform: rotate(0deg); }
}
